<div id="topbar">
<table>
<tr>
  <td>&nbsp;&nbsp;&nbsp;<img src="assets/scc_logo.png">&nbsp;&nbsp;</td>
  <td><table id="dots">
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    </table></td>
  <td>&nbsp;&nbsp;Services&nbsp;&nbsp;</td>
  <td><input type="text" [(ngModel)]="searchText" (keyup)="showSearchResults()" id="servicesearch" placeholder="Search for services, features, blogs, docs, and more"></td>
</tr>
</table>
</div>
<!--<router-outlet></router-outlet>-->
<div id="searchRes" [hidden]="searchResHidden">
	<table>
      <tr id="tab"><td>Services ({{totalServicesCount}})</td><td>Features ({{totalFeaturesCount}})</td><td>Blogs ({{totalBlogsCount}})</td><td>Documentations ({{totalDocumentationsCount}})</td><td>Knowledge Articles ({{totalKBsCount}})</td></tr>
      <tr><td colspan="5"><hr></td></tr>
      <tr *ngFor="let d of data"><td colspan="5" class="results"><div class="serviceIcon"></div><a href={{d.href}} class="serviceName">{{d.serviceName}}</a><p class="desc">{{d.description}}</p></td></tr>
	</table>
</div>